@import "../../global";

.works {
    //background-color: lightcoral;

    .highlightVideoText {
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-top: 0;
        padding-top: 2vh;
        padding-bottom: 10vh;
        font-size: 0.75rem;
    }

    .highlightFallbackImage {
        aspect-ratio: 16 / 9;
    }
}