@import "../../global";

.intro {

    @media (max-width:#{$responsiveSML}) {
        .introVideo {
            padding-top: 7.5vh !important;
        }
    }

    .highlightVideoText {
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-top: 0;
        padding-top: 2vh;
        padding-bottom: 10vh;
        font-size: 0.75rem;

        @media (max-width:#{$responsiveSML}) {
            padding: 1em;
        }
    }

}