@import './global';

* {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    margin: 0;
}

h1 {
    font-family: 'Anton', sans-serif;
}

h4 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 800;
}

p {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
}



.app {
    background-color: $white;
    height: 100vh;
    

    .sections  {
        width: 100%;
        height: calc(100vh - #{$topbarHeight});
        //background-color: $light;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        
        scrollbar-width: none; //Firefox
        &::-webkit-scrollbar {
            display: none;
        }

        > *{
            height: calc(100vh - #{$topbarHeight});
            scroll-snap-align: start;
            padding-left: $pageMargin;
            padding-right: $pageMargin;
        }

        @media only screen and (max-width: $responsiveLRG) {
            > *{
                padding-left: $pageMarginLRG;
                padding-right: $pageMarginLRG;
            }
        }

        @media only screen and (max-width: $responsiveMED) {
            > *{
                padding-left: $pageMarginMED;
                padding-right: $pageMarginMED;
            }
        }

        @media only screen and (max-width: $responsiveSML) {
            > *{
                padding-left: $pageMarginSML;
                padding-right: $pageMarginSML;
            }
        }
        

    }
    
}